body {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    background-size: cover;
}


.top-container {
    color: whitesmoke;
    background-image: url(images/Bitcoin1.jpg);
    background-size: cover;
    padding: 10px;
    text-align: center;
}
.top-container h1 p {
    margin: 10px;
    font-size: 30px;
}
.header nav .logo img {
    align-items: start;
}
.header {
    padding: 8px 1px;
    background: #232368;
    color: #f1f1f1;
    max-height: 60px;
    width: 100%;
}
.header nav {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    width: 100%;
}
.header nav .trade-btn{
    margin: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trade-btn li {
    margin: 0;
    list-style: none;
}
.trade-btn li .join-button {
    text-align: center;
    background: lightseagreen;
    margin: 5px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;

}
.trade-btn li .join-button-2 {
    text-align: center;
    background: rgb(187, 13, 13);
    margin: 5px;
    width: 110px;
    border: 1px solid white;
    border-radius: 20px;
}
.trade-btn li .join-button a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.trade-btn li .join-button-2 a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.content {
    padding: 20px 0 80px 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 102px;
}
#real-balance {
    color: black;
    font-size: 25px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome h3 {
    margin: 8px 20px;
}
.wallet-balance {
    background-color: white;
    margin: 20px 25px;
    padding: 25px 20px;
    border-radius: 10px;
    height: 55px;
}
.wallet-balance a {
    color: black;
    text-decoration: none;
}
.wallet-balance h4 {
    margin: 0;
}
.wallet-buttons {
    margin: 8px 20px;
    padding: 13px 2px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: whitesmoke;
}
.wallet-buttons a {
    color: #232368;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 0;
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 10px;
}
.wallet-buttons .action a {
    padding: 2px 5px;
    display: block;
    color: black;
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
}
.portfolio {
    margin: 15px 20px;
}
.wallet-trade-buttons {
    color: #232368;
    border-radius: 10px;
    margin: 8px 25px;
    background-color: white;
}
.wallet-trade-buttons ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px;
}
.wallet-trade-buttons ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 70px;
    list-style: none;
    border-bottom: 1px solid grey;
    font-size: 16px;
    font-weight: 600;
}
#diff {
    border: none;
}
.wallet-trade-buttons ul li a {
    display: block;
    color: #232368;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}
.wallet-trade-buttons ul li .trade-button {
    float: right;
    border: 1px solid #232368;
    border-radius: 20px;
    box-shadow:  0 0 10px grey;
    background-color: white;
}
.wallet-trade-buttons ul li span {
    color: rgb(56, 56, 56);
    float: center;
}

.buy-sell {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}
.buy-sell .buy-sell-button a {
    color: white;
    background-color: #232368;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 0 15px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.footer a {
    color: black;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.footer .material-symbols-outlined {
    font-size: 30px;
    line-height: 70px;
}
.active-footer {
    box-shadow: 0 0 5px grey;
    background-color: white;
    border-radius: none;
    margin-top: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body.dark {
    background-color: #292c35;
    color: white;
}
 /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
  height: 30px;
}

.checkbox-label {
  background-color: #232368;
  width: 50px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50px;
  position: relative;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
    color: black;
    font-size: larger;
}

.fa-sun {
    color: black;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
#dark-align {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#theme {
    line-height: 25px;
    margin-right: 5px;
    margin-top: 6px;
}
#theme-toggle {

}
/* Account Setting Start Here */

.content {
    margin: 0;
    padding: 20px 0 80px 0;
}
.content .account-list-sets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    list-style: none;
    margin: 20px 25px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.content .account-list-sets li {
    list-style: none;
    margin: none;
    line-height: 40px;
}
.account-list-sets ul {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.account-list-sets ul a {
    color: black;
    display: block;
    padding-left: 25px;
    line-height: 50px;
    text-decoration: none;
    border-bottom: 1px solid grey;
}