* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Starting Get-Started Page Here */

.wrapper {
    padding: 20px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper-nav {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
h3 {
    text-align: center;
}
.breadcrumb {
    list-style: none;
    padding: 30px 10px;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.breadcrumb a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 30px;
    font-weight: bold;
    width: 2;
}
.breadcrumb li span{
    font-size: 30px;
    color: gray;
}
.breadcrumb li a {
    letter-spacing: 2px;
    color: black;
    transition: color 300ms;
}
.breadcrumb li .unique {
    color: #222222;
}
.breadcrumb li a:hover {
    color: rgb(176, 115, 0);
}

/* BreakPoint */

form {
    padding: 20px;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    border-radius: 5px;
}
.input-group {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 10px 2px;
    height: 35px;
    max-width: 500px;
}
label {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: grey;
    padding: 12px 2px;
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input, select, textarea {
    flex: 1;
    font-size: 18px !important;
    padding: 10px 2px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 10px;
}
.submit-btn {
    width: 130px;
    margin: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.submit-btn a {
    color: white;
    font-size: large;
    text-decoration: none;
    display: block;
    padding: 3px 15px;
}
.active-get-started {
    background-color: grey;
    padding: 0 10px 7px 10px;
    border-radius: 15px;
}
.back-to-home {
    font: 20px sans-serif;
    text-align: center;
    margin: 5px;
    padding: 170px 10px 0 10px;
}